<ion-view view-title="Stock Screener">

    <ion-nav-buttons side="right">
        <a id="stockScreenerSearchBtn" class="button ion-search" href="#/app/stockSearch"></a>
    </ion-nav-buttons>


    <ion-content id="stockScreenerContent">

        <!--Market Selection-->
        <select ng-model="selectedMarket" ng-init="selectedMarket = '_'" ng-change="selectedMarketChange(selectedMarket)">
            <option disabled selected value="_">Choose your stock exchange</option>
            <option value="malaysia">Malaysia</option>
            <option value="nasdaq">US(Nasdaq)</option>
            <option value="nyse">US(NYSE)</option>
            <option value="nysemkt">US(NYSEMKT)</option>
            <option value="sgx">Singapore</option>
            <option value="hkg">Hong Kong</option>
            <option value="th">Thailand</option>
            <option value="idx">Indonesia</option>
            <option value="asx">Australia</option>
            <option value="lse">UK(LSE)</option>
            <option value="sse">Sweden</option>
        </select>



        <!--<ion-refresher pulling-text="Pull to refresh..." on-refresh="getMyStocksData()" class="margin-auto"></ion-refresher>-->

        <!--stock info-->
        <div class="row info" ng-show="selectedMarket != '_'">
            <div class="col col-20 infoGreen">BUY: {{buyStocks[0].BUY_total}}</div>
            <div class="col col-20 infoOrange">HOLD: {{buyStocks[0].HOLD_total}}</div>
            <div class="col col-20 infoRed">SELL: {{buyStocks[0].SELL_total}}</div>
            <div class="col col-40 " ng-class="marketStateClass(buyStocks[0].Market_sentiment)">MARKET: {{buyStocks[0].Market_sentiment}}</div>
        </div>
        <div class="row titleRow" ng-show="selectedMarket != '_'">
            <div class="col col-25">Top 10 to {{currentTop}}</div>
            <div class="col col-20">Vindex</div>
            <div class="col col-33">Previous close</div>
            <div class="col"></div>
        </div>
        <div class="row slideWraper" >
            <div class="col scrollParent">
                <ion-slide-box auto-play="false" on-slide-changed="slideChanged(index)" class="scrollParent">
                    <ion-slide class="scrollParent">
                        <div class="list screenerList" ng-show="selectedMarket != '_'" >
                            <ion-scroll class="scrollParent" direction="y">

                                <a class="item" ng-repeat="buyStock in buyStocks" ng-click="passStockToDetail(buyStock.id, selectedMarket)" href="#/app/stockScreenerDetails">
                                    <div class="row">
                                        <div class="col">{{buyStock.Stock}}</div>
                                        <div class="col vindex" ng-class="marketStateClass(buyStock.Trade)">{{buyStock.Vindex}}</div>
                                        <div class="col">{{buyStock.Previous_close}}</div>
                                        <div class="col"  ng-class="{percentNegative: buyStock.Trade=='SELL', percentPositive: buyStock.Trade=='BUY',percentZero: buyStock.Trade=='HOLD'}">
                                            <span ng-if="stock.Change>=0">+</span>{{buyStock.Change_pc}}%
                                            <p>{{buyStock.Change}}</p>
                                        </div>
                                    </div>

                                </a>

                            </ion-scroll>
                        </div>
                    </ion-slide>


                    <ion-slide class="scrollParent">
                        <div class="list screenerList" ng-show="selectedMarket != '_'">
                            <ion-scroll class="scrollParent" direction="y">

                                <a class="item" ng-repeat="sellStock in sellStocks" ng-click="passStockToDetail(sellStock.id, selectedMarket)" href="#/app/stockScreenerDetails">
                                    <div class="row">
                                        <div class="col">{{sellStock.Stock}}</div>
                                        <div class="col vindex" ng-class="marketStateClass(sellStock.Trade)">{{sellStock.Vindex}}</div>
                                        <div class="col">{{sellStock.Previous_close}}</div>
                                        <div class="col" ng-class="{percentNegative: sellStock.Trade=='SELL', percentPositive: sellStock.Trade=='BUY',percentZero: sellStock.Trade=='HOLD'}">
                                            {{sellStock.Change_pc}}%
                                            <p>{{sellStock.Change}}</p>
                                        </div>
                                    </div>

                                </a>

                            </ion-scroll>
                        </div>
                    </ion-slide>

                </ion-slide-box>
            </div>
        </div>


<!--
        <ion-slide-box auto-play="false">
            <ion-slide>
                <div class="list screenerList" ng-show="selectedMarket != '_'" >
                    <ion-scroll class="listScroll" direction="y">

                        <a class="item" ng-repeat="buyStock in buyStocks" ng-click="passStockToDetail(buyStock.id, selectedMarket)" href="#/app/stockScreenerDetails">
                            <div class="row">
                                <div class="col">{{buyStock.Stock}}</div>
                                <div class="col vindex" ng-class="marketStateClass(buyStock.Trade)">{{buyStock.Vindex}}</div>
                                <div class="col">{{buyStock.Previous_close}}</div>
                                <div class="col"  ng-class="{percentNegative: buyStock.Trade=='SELL', percentPositive: buyStock.Trade=='BUY',percentZero: buyStock.Trade=='HOLD'}">
                                    <span ng-if="stock.Change>=0">+</span>{{buyStock.Change_pc}}%
                                    <p>{{buyStock.Change}}</p>
                                </div>
                            </div>

                        </a>

                    </ion-scroll>
                </div>
            </ion-slide>


            <ion-slide>
                <div class="list screenerList" ng-show="selectedMarket != '_'">
                    <ion-scroll class="listScroll" direction="y">

                        <a class="item" ng-repeat="sellStock in sellStocks" ng-click="passStockToDetail(sellStock.id, selectedMarket)" href="#/app/stockScreenerDetails">
                            <div class="row">
                                <div class="col">{{sellStock.Stock}}</div>
                                <div class="col vindex" ng-class="marketStateClass(sellStock.Trade)">{{sellStock.Vindex}}</div>
                                <div class="col">{{sellStock.Previous_close}}</div>
                                <div class="col" ng-class="{percentNegative: sellStock.Trade=='SELL', percentPositive: sellStock.Trade=='BUY',percentZero: sellStock.Trade=='HOLD'}">
                                    {{sellStock.Change_pc}}%
                                    <p>{{sellStock.Change}}</p>
                                </div>
                            </div>

                        </a>

                    </ion-scroll>
                </div>
            </ion-slide>

        </ion-slide-box>
        -->








    </ion-content>
</ion-view>
